* {
    font-family: 'Poppins', sans-serif;
  }
  
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(
    90deg,
    #202060,
    #602080,
    #b030b0,
    #6c91bf,
    #5bc8af
  );
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.survey-container {
  background-color: #ffffff;
  margin: 100px;
  padding: 30px;
  border-radius: 100px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 600px;
}

/* Title */
.survey-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 25px;
  color: #333;
}

/* Form */
.survey-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Grouping Inputs */
.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 6px;
  font-weight: 600;
  color: #444;
}

/* Inputs & Selects */
input[type="text"],
input[type="email"],
textarea,
select {
  padding: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 1rem;
  transition: border 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

/* Checkbox Group */
.checkbox-group,
.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-top: 5px;
}

.checkbox-group label,
.radio-group label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.95rem;
  background: #63228f24;
  padding: 6px 10px;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
}

.checkbox-group input[type="checkbox"],
.radio-group input[type="radio"] {
  accent-color: #5e0396;
  margin: 0;
}

/* Submit Button */
.submit-button {
  background-color: #63228fda;
  color: #fff;
  font-size: 1rem;
  padding: 12px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #63228f;
}

/* Responsive */
@media (max-width: 600px) {
  .survey-container {
    padding: 20px;
  }

  .checkbox-group,
  .radio-group {
    flex-direction: column;
  }
}
